<main
  class="d-flex flex-column justify-content-center align-items-center bg-light py-5 px-3 vh-100 vw-100"
>
  <div class="container bg-white rounded shadow p-4" style="max-width: 960px">
    <h2 *ngIf="!isEditMode">Nova Clínica</h2>
    <p *ngIf="!isEditMode">Insira os dados para salvar uma nova clínica no sistema</p>
    <h2 *ngIf="isEditMode">Editar Clínica</h2>
    <p *ngIf="isEditMode">Edite os dados da clínica selecionada</p>

    <div class="border-top border-dark w-100 opacity-25 my-4" style="height: 2px;"></div>
    <!-- Loading Spinner -->
    <div *ngIf="isLoading" class="text-center py-4">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Carregando...</span>
      </div>
    </div>

    <form>
      <!-- Linha 1 -->
      <div class="row">
        <div class="col-md-4 mb-3">
          <app-formfield
            [label]="'Razão Social'"
            [placeholder]="'Digite sua razão social'"
            [type]="'text'"
            [control]="razao_socialControl"
          />

          <p class="text-danger">
            <span>Razão social é obrigatório.</span>
          </p>
        </div>

        <div class="col-md-4 mb-3">
          <app-formfield
            [label]="'Nome Fantasia'"
            [placeholder]="'Digite seu nome fantasia'"
            [type]="'text'"
            [control]="nome_fantasiaControl"
          />

          <p class="text-danger">
            <span>Nome Fantasia é obrigatório.</span>
          </p>
        </div>

        <div class="col-md-4 mb-3">
          <app-formfield
            [label]="'CNPJ'"
            [placeholder]="'Digite seu CNPJ'"
            [type]="'text'"
            [control]="cnpjControl"
          />

          <p class="text-danger">
            <span>CNPJ é obrigatório.</span>
          </p>
        </div>
      </div>

      <!-- Linha 2 -->
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="regional" class="form-label">Regional</label>
          <select
            id="regional"
            formControlName="regional"
            class="form-select"
            [class.is-invalid]="regionalControl.invalid && form.touched"
          >
            <option *ngFor="let r of regionais" [value]="r.value">
              {{ r.label }}
            </option>
          </select>
          <p class="text-danger">
            <span>Regional é obrigatório.</span>
          </p>
        </div>

        <div class="col-md-6 mb-3">
          <app-formfield
            [label]="'Data de Abertura'"
            [placeholder]="'Digite sua data de abertura'"
            [type]="'date'"
            [control]="data_inauguracaoControl"
          />

          <p class="text-danger">
            <span>Data é obrigatório.</span>
          </p>
        </div>
      </div>

      <!-- Linha 3 -->

      <div class="row align-items-center">
        <div class="col-md-6 mb-3">
          <label for="especialidades" class="form-label"
            >Especialidades Médicas Atendidas</label
          >
          <select
            id="especialidades"
            formControlName="especialidades_medicas"
            class="form-select"
            multiple
            [class.is-invalid]="
              especialidades_medicasControl.invalid && form.touched
            "
          >
            <option *ngFor="let esp of especialidades" [value]="esp.value">
              {{ esp.label }}
            </option>
          </select>

          <p class="text-danger">
            <span>Selecione ao menos 5 especialidades.</span>
          </p>
        </div>

        <div class="col-md-6 mb-3 d-flex">
          <div class="form-check form-switch form-check-reverse ">
            <label class="form-check-label" for="ativa">Ativa</label>
            <input
              type="checkbox"
              role="switch"
              id="ativa"
              formControlName="ativa"
                class="form-check-input" />
          </div>
        </div>

        <div class="col-md-12 d-flex justify-content-end gap-2 mb-3">
          <button type="submit" class="btn btn-primary">Salvar</button>
          <button type="button" (click)="returnPage()" class="btn btn-dark">Voltar</button>
          <button *ngIf="isEditMode" type="button" class="btn btn-danger">
            Excluir
          </button>
        </div>
      </div>
    </form>
  </div>
</main>
